$breakpoints: (
  "smPhone": 320px,
  "phone": 480px,
  "table": 768px,
  "smDesktop": 980px,
  "desktop": 1280px
);

@mixin fsw($fs-map, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == 'phone' {
      font-size: $fs-font-size;
    }
    @else {
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == min {$width: $width + 1};
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
