$p1-font-sizes: (
        "phone": 18px,
        "tablet": 20px,
        "desktop": 24px
);

$p2-font-sizes: (
        "phone": 20px,
        "tablet": 22px,
        "desktop": 28px
);

$p3-font-sizes: (
        "phone": 18px,
        "tablet": 18px,
        "desktop": 20px
);

