@import "mixin";
@import "sizeFonts";

// Main color
$default-color           : #ffffff;
$black-color             : #303133;

$success-color           : #26de81;
$danger-color            : #fc5c65;
$neutral-color          : #cfcfcf;
$secondary-color          : #444ce0;



// Hover color

$success-hover            : #68dea3;
$danger-hover            : #de7878;
$neutral-hover            : #f1f1f1;
$secondary-hover            : #787dde;

