# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\LikeYAGitHub\WakeApp_nuxt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
